#!/bin/bash
# User data script for  the Jump hosts EC2 Instance
# This sets up some basic packages and configure a basic ansible inventory
# to allow for easy target host setup.

### Install packages
yum install wget git vim awscli zip ansible screen -y

### Create hosts file
echo "[lab_servers]" >> /etc/ansible/hosts
echo "jump-host ansible_host=${jump_host_private_ip}" >> /etc/ansible/hosts
echo "ansible-host-01 ansible_host=${ansible_host_01_private_ip}" >> /etc/ansible/hosts
echo "ansible-host-02 ansible_host=${ansible_host_02_private_ip}" >> /etc/ansible/hosts
echo "ansible-host-03 ansible_host=${ansible_host_03_private_ip}" >> /etc/ansible/hosts
echo "ansible-host-04 ansible_host=${ansible_host_04_private_ip}" >> /etc/ansible/hosts


### Disable host key checking in ansible

echo "export ANSIBLE_HOST_KEY_CHECKING=False" >> /home/centos/.bashrc


### Create the centos user's private key
touch /home/centos/.ssh/id_rsa
chown centos:centos /home/centos/.ssh/id_rsa
chmod 0600 /home/centos/.ssh/id_rsa

### Setup github project

cd /home/centos
git clone https://github.com/robertlupinek/rh-ex407.git
chown -R centos:centos rh-ex407


### Download Sops
rpm -ivh https://github.com/mozilla/sops/releases/download/v3.5.0/sops-v3.5.0-1.x86_64.rpm
