#!/bin/bash
# User data script for  the Jump hosts EC2 Instance
# This sets up some basic packages and configure a basic ansible inventory
# to allow for easy target host setup.

### Install packages
yum install epel-release -y
yum clean all -y
yum install firewalld lvm2 wget git vim awscli zip ansible screen -y




## Create the ansible user for the examples
useradd carlton

## Configure the sudoers file
echo 'carlton  ALL=(ALL)       NOPASSWD: ALL' >> /etc/sudoers

### Create the centos user's private key
mkdir /home/carlton/.ssh
chmod 700 /home/carlton/.ssh
chown carlton:carlton /home/carlton/.ssh

echo "-----BEGIN RSA PRIVATE KEY-----" > /home/carlton/.ssh/id_rsa
echo ${ssh_key} >> /home/carlton/.ssh/id_rsa
echo "-----END RSA PRIVATE KEY-----" >> /home/carlton/.ssh/id_rsa
chown carlton:carlton /home/carlton/.ssh/id_rsa
chmod 0600 /home/carlton/.ssh/id_rsa
cp /home/centos/.ssh/authorized_keys /home/carlton/.ssh/
chown carlton:carlton /home/carlton/.ssh/authorized_keys

### Create inventory file
cat > /etc/ansible/hosts << EOL
jump-host ansible_host=${jump_host_private_ip}
node1 ansible_host=${node1_private_ip}
node2 ansible_host=${node2_private_ip}
node3 ansible_host=${node3_private_ip}
node4 ansible_host=${node4_private_ip}
EOL

### Create hosts file
cat > /etc/hosts << EOL
127.0.0.1               localhost.localdomain    localhost
::1                     localhost6.localdomain6    localhost6
${jump_host_private_ip} jump-host
${node1_private_ip} node1
${node2_private_ip} node2
${node3_private_ip} node3
${node4_private_ip} node4
EOL

### Disable host key checking in ansible
echo "export ANSIBLE_HOST_KEY_CHECKING=False" >> /home/carlton/.bashrc

### Setup github project

cd /home/carlton
git clone https://github.com/robertlupinek/rh-ex407.git
chown -R centos:centos rh-ex407

### Download Sops
rpm -ivh https://github.com/mozilla/sops/releases/download/v3.5.0/sops-v3.5.0-1.x86_64.rpm


# Enable firewalld
systemctl enable firewalld
systemctl start firewalld
firewall-cmd --zone=public --change-interface=eth0
